<div class="form-group">
    <label for="name">Name</label>
    <input required value="<%= day.name%>" type="text" name="name" id="name" class="form-control">

</div>

<div class="form-group">
    <label for="name">Description</label>
    <textarea name="description" id="description" class="form-control"><%= day.description %></textarea>

</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= day.markdown %></textarea>

</div>

<p></p>

<a href="/" class="btn btn-secondary">Cancel</a>

<p></p>

<button type="submit" class="btn btn-primary">Save</button>